@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
}

body {
  background-color: #1a1a1a;
  color: #FFD700;
  font-family: 'Vazir', sans-serif;
}

.card {
  background-color: #1a1a1a;
  border: 1px solid #FFD700;
}

.btn-primary {
  background-color: #FFD700;
  border-color: #FFD700;
  color: #1a1a1a;
}

.btn-primary:hover {
  background-color: #e6c200;
  border-color: #e6c200;
}