body.login-page {
    font-family: Vazir, sans-serif;
    background-color: #121212;
    color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px #FFD700;
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: right;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #FFD700;
    border-radius: 4px;
    background: transparent;
    color: #FFD700;
}

button {
    background-color: #FFD700;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #FFD700;
    border-radius: 4px;
    background: transparent;
    color: #FFD700;
}



.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #1a1a1a;
    color: #FFD700;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    font-family: Vazir, sans-serif;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
}


body.dark-bg {
    background-color: #000;
    color: #d4af37; /* طلایی */
    font-family: Vazir, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 220px;
    background-color: #111;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    color: #d4af37;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    color: #d4af37;
    text-decoration: none;
    font-size: 16px;
}

.main-content {
    flex: 1;
    padding: 30px;
}
