body {
    background-color: #111;
    color: gold;
    text-align: center;
    font-family: sans-serif;
    margin-top: 100px;
}
input, button {
    margin: 5px;
    padding: 8px;
}
a { color: gold; }
